{% extends "index.html" %}
{% block content %}
	<div class="row">
	<header>
		hello world
	</header>
	</div>

	<div class="row">
		<div class="large-3 medium-4 columns">
			<div class="hide-for-small">
				<div class="sidebar">
					<ul id="participants">
						
					</ul>
				</div>
			</div>
		</div>
		<section class="large-9 medium-8 columns" id="quiz-content">
			<div id="question"></div>
			<form id="answer_form"
				<input id="answer" type="text" />
			</form>
		</section>
	</div>

	<div class="row">
	</div>
{% endblock %}

{% block extrascripts %}
	var primus
	belly(['mootools', 'primus'], function(Mootools, Primus){
		if( primus ) primus.end();
		primus = new Primus();

		var form = new Element('form',{
			id:"answer_form"
			,events:{
				submit: function( evt ){
					evt.preventDefault()
					var data = evt.target.toQueryString().parseQueryString()
					data.event = "answer";
					primus.write( data )
					evt.target.getElement('input#answer').set('value',"")
				}
			}
		}).inject( "quiz-content")

		new Element("input", {
			id:"answer"
			,name:"answer"
			,type:"text"
		}).inject( form )

		primus.on('close', function(){
			$('player')
				.slide('out')
				.destroy()
		})
		primus.on('open',function(){
			primus.id(function( id ){
				var li = new Element('li',{
					text:id
					,'id':'player'
				
				})
				.inject( "participants" )
				.slide('hide')
				.slide('in')
			})
		})

		primus.on('data', function( data ){
			switch(data.evt){
				case "next":
					$('question').set( 'text', data.data );
					break;
			}
		})
	})
{% endblock %}