<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}BellyCard Math Quiz {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" href="/static/css/app.css" />
	<script type="text/javascript" src="/static/js/lib/require.js"></script>	
	<script type="text/javascript" src="/static/js/lib/require-init.js"></script>
</head>
<body>
{% block content %}

{% endblock content %}
<script>
belly(['modernizr'], function( ){
	
})
</script>
<script>
{% block extrascripts %}

{% endblock extrascripts %}
</script>
</body>
</html>